# LaTeX .gitignore
*.aux
*.fls
*.fdb_latexmk
*.log
*.out
*.toc
*.bbl
*.blg
*.synctex.gz
*.lof
*.lot
*.idx
*.ilg
*.ind
*.glo
*.gls
*.ist
*.acn
*.acr
*.alg
*.glg
*.glsdefs
*.glstex
*.ist
*.loa
*.lof
*.lol
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.nls